{% extends 'base.html.twig' %}

{% block body %}
    <h1>Edit Listing</h1>

    {{ form_start(form, {'action': path('update_listing', {'id': listing.id}), 'method': 'POST'}) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}
    <form action="{{ path('delete_listing', {'id': listing.id}) }}" method="post" onsubmit="return confirm('Are you sure you want to delete this listing?');">
        <button class="btn btn-danger" type="submit">Delete</button>
    </form>
    <a href="{{ path('app_listing') }}" class="btn btn-secondary">Cancel</a>
{% endblock %}
